# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

# Kotlin Gradle plugin data
.kotlin/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# OS
.DS_Store
Thumbs.db

# Local environment
local.properties

# Logging
logs/

# AI tools
.claude/lib-sources/
.claude/settings.local.json
.claude/worktrees
.omc/
.omx/
.ai/
.code-review-graph

# Git Worktrees
.worktrees/

# Eclipse
.project
.settings
.checkstyle

# Gradle build
.gradletasknamecache
src_managed

.profileconfig.json

.codegraph/
